<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classteather">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AchievementnumberActivity"></activity>
        <activity android:name=".AvgachievementActivity" />
        <activity android:name=".QueryachievementActivity" />
        <activity android:name=".ReadachievementActivity" />
        <activity android:name=".AchievementlistActivity" />
        <activity android:name=".WriteachievementActivity" />
        <activity android:name=".AddactiecementActivity" />
        <activity android:name=".AchievementActivity" />
        <activity android:name=".ReadclassmeetingActivity" />
        <activity android:name=".WriteclassmeetingActivity" />
        <activity android:name=".ClassmeetinglistActivity" />
        <activity android:name=".ReadworksummaryActivity" />
        <activity android:name=".WriteworksummaryActivity" />
        <activity android:name=".WorksummaryActivity" />
        <activity android:name=".ReadworkplanActivity" />
        <activity android:name=".WriteworkplanActivity" />
        <activity android:name=".PlanlistActivity" />
        <activity android:name=".ClassworkActivity" />
        <activity android:name=".ReadtalkActivity" />
        <activity android:name=".WritetalkActivity" />
        <activity android:name=".TalklistActivity" />
        <activity android:name=".QueryStudentActivity" />
        <activity android:name=".ReadvisitActivity" />
        <activity android:name=".WritevisitActivity" />
        <activity android:name=".VisitlistActivity" />
        <activity android:name=".ReadstudentActivity" />
        <activity android:name=".WritestudentActivity" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".ZhucheActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>